
.active {
    color: #006400;
}

.layout-container {
    .ant-breadcrumb {
        font-size: 11px;
        color: #006400;
    }

    .ant-breadcrumb .anticon {
        font-size: 11px;
        color: #006400;
    }
}