
.active {
    color: #006400;
}

.layout-container {

   

    .ant-breadcrumb .anticon {
        font-size: 11px;
        color: #006400;
    }

    .pannel {
        padding: 1rem;
        border: 1px solid #e0e0e0;
    }
}