
.sidebar-container {
    background-color: #444 !important;
}

.ant-menu-item {
    border-radius: 0px !important;
    margin-inline: unset !important;
    margin-block: unset !important;
    width: 100% !important;
    height: 55px !important;
}

.ant-menu-item-selected {
    background-color: #079A92 !important;
}

.ant-btn:hover {
    background-color: transparent;
    border-color: #d9d9d9;
    color: #000000;
}