
// .sidebar-container {
//     background-color: #444 !important;
// }
.ant-layout-sider-trigger {
    background-color: #444 !important;
}

// .ant-menu-item {
//     border-radius: 0px !important;
//     margin-inline: unset !important;
//     margin-block: unset !important;
//     width: 100% !important;
//     height: 55px !important;
// }

// .ant-menu-item-selected {
//     background-color: #079A92 !important;
// }

.ant-btn:hover {
    background-color: transparent;
    border-color: #d9d9d9;
    color: #000000;
}

h4.css-dev-only-do-not-override-i0102m.ant-typography {
    margin-bottom: unset;
}

.ant-input-number-handler-wrap {
    opacity: unset !important;
}

.special-customize-form-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    div:first-child, div:last-child {
        grid-column: span 1 / span 1;
    }

    .special-customize-form {
        grid-column: span 2 / span 2;
    }
}