.ant-menu-item {
    border-radius: 0px !important;
    margin-inline: unset !important;
    margin-block: unset !important;
    width: 100% !important;
}
.ant-menu-item-selected {
    background-color: #079A92 !important;
}