$color-white: #ffffff;
$color-underline: #E6E6E6;
// $color-brand-blue: #25B8E9;
// $color-brand-new: #EE4D2D;
// $color-brand: #DE6436;
// $color-brand-hover: #E5835E;
// $color-hover: #3ACEFE;
// $color-press: #107A9E;

$color-error: #F81E1E;
$color-green: #34B207;
$color-progress: #E85831;

$color-field: #F7F7F7;
$color-underline: #E6E6E6;

$color-main-primary: #444444;
$color-main-secondary: #FAFAFA;
$color-disable: #90a4ae;
$color-text-base: #455a64;
$color-link: #006400;
$color-border: #E0E0E0;
$color-text-h2: #607d8b