.header-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: #444;
}

.header-nav {
    height: 100%;

    ul {
        height: 100%;
        display: flex;
        align-items: center;

        li {
            height: 100%;

            a {
                height: 100%;
                display: flex !important;
                align-items: center;
                text-decoration: none;
                color: white !important;
                padding: 0 24px;

                font-size: 17px;
                font-weight: 400;
            }

            a:hover {
                background-color: #06948c !important;
            }

            .active {
                background-color: #079A92
            }
        }
    }
}