@import '../../styles/variables.scss';

.header-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: #444;
}

.nav-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-nav {
        height: 100%;
    
        ul {
            height: 100%;
            display: flex;
            align-items: center;
    
            li {
                height: 100%;
    
                a {
                    height: 100%;
                    display: flex !important;
                    align-items: center;
                    text-decoration: none;
                    color: $color-white !important;
                    padding: 0 16px;
    
                    font-size: 17px;
                    font-weight: 400;
                }
    
                a:hover {
                    background-color: #06948c !important;
                }
    
                .active {
                    background-color: #079A92
                }
            }
        }
    }

    .header-icon {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));

        .anticon {
            font-size: 17px;
            color: $color-white;
            cursor: pointer;

            padding: 8px 0;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%;

            display: block;
            border-radius: 50%;
            text-align: center;
            height: 32px;
            width: 32px;
        }

        .anticon:hover {
            background-color: #06948c;
        }
        
        .anticon:last-child {
            margin-right: 8px;
        }

        .menu-icon {
            display: none;
        }
    }

}

.ant-dropdown.header-icon-menu {
    width: 100%;
    left: 0 !important;

    .ant-dropdown-menu {
        border-radius: unset;
        padding: unset;
        background-color: $color-main-primary;
        
        .ant-dropdown-menu-item {
            padding: 14px;
            border-radius: unset;
            color: $color-white;
            font-size: 17px;
            font-weight: 400;
            line-height: 20px;
            
            .ant-dropdown-menu-submenu-title-active {
                background-color: #06948c;
            }
        }

        .ant-dropdown-menu-item:hover {
            background-color: #06948c;
        }
    }
    // .ant-dropdown {
    // width: 100%;
    // left: 0 !important;

    // .header-menu-wrapper {
    //     border-radius: unset !important;
    //     padding: unset !important;
    //     background-color: $color-main-primary !important;
        
    //     .ant-dropdown-menu-submenu-title {
    //         padding: 20px;
    //     }
    // }
// }
}

@media (max-width: 1080px) {
    .nav-wrapper {
        justify-content: flex-end;

        .header-nav {
            display: none;
        }

        .header-icon {
            grid-template-columns: repeat(5, minmax(0, 1fr));

            .menu-icon {
                display: block;
            }
        }
    }
}