@import '../../styles/variables.scss';

// RADIO button
.radio-container {

    .ant-radio-wrapper {
        
    }
}

// INPUTS
.search-container {

    .ant-input-group-wrapper {
        // width: unset;

        .ant-input-wrapper {

            .ant-input-affix-wrapper {
                background: $color-main-secondary;

                .ant-input {
                    // border-radius: unset;
                    background: $color-main-secondary;
                }
            }

            .ant-input-group-addon {
                
            }
        }
    }
    .ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button {
        border-radius: unset;
        border-start-end-radius: 2px !important;
        border-end-end-radius: 2px !important;
    }
    .ant-input-search .css-dev-only-do-not-override-wqdoyx.ant-input-group .ant-input-affix-wrapper:not(:last-child) {
        border-start-start-radius: 2px !important;
        border-end-start-radius: 2px !important;
    }
}

.text-input-container {
    
    .ant-input {
        border-radius: 2px;
        padding: 4px 32px 4px 8px;
        font-size: 13px;
        background-color: $color-main-secondary;
        color: $color-text-base;
    }
}

// FILTERS
.select-filter-container {
    
    .ant-select {

        .ant-select-selector {
            border-radius: 2px;
            border: 1px solid $color-border;
            box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.04);

            .ant-select-selection-placeholder {
                color: $color-text-base;
            }
        }

        .ant-select-arrow {
            color: $color-text-base;
        }
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        background-color: $color-main-secondary;
    }
}

// ACTION BUTTON
.button-container {
    
    // .ant-btn-default {
    //     background-color: $color-link;
    //     color: $color-white;
    //     box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.04);
    //     border-color: unset;
    // }

    .ant-btn {
        border-radius: 2px;
        border: unset;
        font-size: 13px;
        padding: 0 12px 0 8px;
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.04);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
        background-color: unset;
        color: unset;
        border-color: unset;
    }

    .next-button, .action-button, .finish-button {
        background-color: $color-link;
        color: $color-white;
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.04);
        border-color: unset;
    }

    .next-button:hover, .action-button:hover, .finish-button:hover {
        background-color: #004a00 !important;;
        color: $color-white !important;;
        border-color: #004a00 !important;;
    }
    
    .back-button, .cancel-button {
        background-color: $color-main-secondary;
        color: $color-text-base;
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.04);
        border-color: $color-border;
        border: 1px solid $color-border;
    }

    .back-button:hover, .cancel-button:hover {
        background-color: #ededed !important;
        border-color: #cccccc !important;
    }
    
    .process-button {
    
    }
    
}


// FORM
.form-container {
    margin-top: 16px;

    .ant-form-item-label {

    }
}

// UPLOAD FILE
.upload-container {

    .ant-upload-wrapper {

        .ant-upload-drag {
            background: rgba(0, 0, 0, 0.03);
            border: 3px dashed #eeeeee;
            
            .ant-upload-drag-container {

                p.ant-upload-drag-icon {
                    margin-bottom: unset;
                    margin-right: 8px;
    
                    .anticon {
                        color: $color-disable;
                        font-size: 24px;
                    }
                }
    
                p.ant-upload-text {
                    margin: unset;
                    font-size: 13px;
                }

                .ant-upload-hint {
                    font-size: 13px;
                    color: $color-disable;
                }

            }
        }

        .ant-upload-drag:not(.ant-upload-disabled):hover {
            border-color: $color-disable
        }

    }
}

// CHECKBOX GROUP

.checkbox-group-container {

    .ant-checkbox-group {

        .ant-checkbox-wrapper {
        }

        .upcoming {
            color: red;
        }
        
        .ant-checkbox {
            align-self: unset;
        }

        .ant-checkbox+span {
            padding: 4px 12px;
        }
    }
}

.range-date-picker-container {

    .ant-picker {
        border-radius: 2px;
        color: $color-text-base;
        background: $color-main-secondary;
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.04);
    }
}
