.custom-table {
    margin-top: 24px;
    .ant-table-wrapper {
        .ant-spin-nested-loading {
            border-radius: 12px;
            .ant-spin-container {
        
                .ant-table-bordered {
                    border-radius: unset !important;
                }
            }
    
        }

    }
}