@import '../../styles/variables.scss';

.custom-table {
    margin-top: 20px;
    
    .ant-spin-nested-loading {
        
        .ant-spin-container {

            .ant-table {

                .ant-table-container {
                    border-radius: unset;

                    .ant-table-content {

                        table {

                            .ant-table-thead {

                                .ant-table-cell {
                                    border-radius: unset;
                                }
                            }

                            .ant-table-tbody > tr:nth-child(odd) {
                                background-color: white;
                            }

                            .ant-table-tbody > tr:nth-child(even) {
                                background-color: #fafafa;
                            }                
                        }
                    }

                    .ant-table-body {

                        .ant-table-tbody {

                            .ant-table-cell {

                                .ant-form-item {
                                    margin-bottom: unset;
                                }
                            }
                        }
                    }
                }

            }

            .ant-pagination {

                .ant-pagination-item {
                    // border: 1px solid $color-border;
                }
    
                .ant-pagination-item-link {

                    .ant-pagination-item-container {

                        .ant-pagination-item-link-icon {
                            color: $color-link;
                        }

                        .ant-pagination-item-ellipsis {
                            color: $color-link;
                        }
                    }
                }

                .ant-pagination-item-active {
                    border: 1px solid $color-border;
                    border-color: $color-link;
                    background-color: $color-link;
                    font-weight: unset;
                    
                    a {
                        color: $color-white;
                    }
                }
                
                .anticon {
                    font-size: 8px;
                    height: 100%;
                    margin: 0px 6px;
                }
                
                .ant-pagination-prev {
                    border-left: 1px solid $color-border;
                    border-bottom-left-radius: 2px;
                    border-top-left-radius: 2px;
                    line-height: unset;
                    
                    display: flex;
                    align-items: center;
                    padding: 8px;

                    a {
                        display: flex;
                        align-items: center;
                    }

                    a[disabled] {
                        color: $color-disable;
                    }

                }

                .ant-pagination-next {
                    border-right: 1px solid $color-border;
                    border-bottom-right-radius: 2px;
                    border-top-right-radius: 2px;
                    line-height: unset;

                    display: flex;
                    align-items: center;
                    padding: 8px;

                    a {
                        display: flex;
                        align-items: center;
                    }

                    a[disabled] {
                        color: $color-disable;
                    }
                }

                li {
                    border-top: 1px solid $color-border;
                    border-bottom: 1px solid $color-border;
                    border-right: 1px solid $color-border;
                    margin-inline-end: unset;
                    border-radius: unset;

                    a {
                        color: $color-link;
                    }
                }

                .ant-pagination-options {
                    border-top: unset;
                    border-bottom: unset;
                    border-right: unset;
                    margin-inline-end: unset;
                    
                    .ant-select-single {

                        .ant-select-selector {
                            border-radius: 2px;

                            .ant-select-selection-item {
                                color: $color-link;
                            }
                        }

                        .ant-select-arrow {
                            .anticon-down {
                                font-size: 12px;
                                margin: 0px;
                                color: $color-link;
                            }
                        }

                        .ant-select-dropdown {

                            .ant-select-item-option-selected {
                                background-color: unset;
                            }
                        }
                    }
                }
            }
        }    
    }

    .ant-table-thead >tr>th {
        background: white !important;
    }

    .ant-table-cell {
        padding: 5px 16px !important;
    }
}

.weight-table-css {
    width: 80%;
    margin: auto;

    .ant-col-14 {
        max-width: unset;
    }
}

.weight-clone-table-css {
    width: 100%;
    margin: auto;

    .ant-col-14 {
        max-width: unset;
    }
}